/*=======================*/
/* ===== UNIVERSAL ===== */
/*=======================*/
body {
  font-family: 'Spartan', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: fit-content;
}


.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  background-color: #4aaaa5;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  width: 200px;
  -webkit-clip-path: polygon(14% 0, 100% 0%, 87% 100%, 0% 100%);
  clip-path: polygon(14% 0, 100% 0%, 87% 100%, 0% 100%);
}
/*====================*/
/* ===== NAVBAR ===== */
/*====================*/


.navbar {
  background-color: #020c42;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.navbar-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #ed4563;
  font-weight: 900;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  color: white;
  display: inline;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;;
}

.navbar-link:hover {
  color: #ed4563;
  cursor: pointer;
}

/*====================*/
/* ===== HEADER ===== */
/*====================*/
.header {
  background-color: #404b69;
  background-image: url("../images/bg2.jpg");
  height: 400px;
  padding-top: 150px;
  position: relative;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.title  {
  margin-top: 50px;
}

.title-text {
  background-color: #4aaaa5;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 25px;
  width: 250px;
  -webkit-clip-path: polygon(14% 0, 100% 0%, 87% 100%, 0% 100%);
  clip-path: polygon(14% 0, 100% 0%, 87% 100%, 0% 100%);
}

.subtitle-text {
  background-color: #4aaaa5;
  color: white;
  font-size: 1rem;
  margin: 20px auto 0 auto;
  padding: 15px;
  width: 150px;
  -webkit-clip-path: polygon(0 0, 87% 0, 100% 99%, 12% 100%);
  clip-path: polygon(0 0, 87% 0, 100% 99%, 12% 100%);
}

.social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
}

.twitter-svg,
.github-svg,
.instagram-svg,
.linkedin-svg {
  fill:  #020c42;
  height: 40px;
  margin: 5px;
  width: 40px;
}

/*===================*/
/* ===== ABOUT ===== */
/*===================*/
.about-me {
  padding: 75px 0;
}

.about-me__info {
  margin: 0 auto;
  padding-top: 50px;
}

.about-me__text {
  color: #666;
  font-size: 1.1rem;
  text-align: left;
  margin: 0 auto;
  width: 275px;
}

.about-me__img {
  display: none;
  padding: 20px;
}

/*====================*/
/* ===== SKILLS ===== */
/*====================*/
.skills {
  background-color: #c1f6fa;
  padding: 75px 0;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.skill-lists {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
}


.skill-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.skill-list {
  color: #020c42;
  font-size: 20px;
  font-weight: 900;
  margin-top: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;   
}



/*=======================*/
/* ===== PORTFOLIO ===== */
/*=======================*/
.portfolio {
  padding: 75px 0 0 0;
  max-width: 100%;
}

.portfolio-boxes {
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
}

.portfolio-box__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  height: 475px;
  margin-bottom: 50px;
  width: 250px;
}

.portfolio-box__pic {
  width: 250px;
}

.portfolio-box__title {
  font-family: 'Prompt', sans-serif;
  background-color: #29335c;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.portfolio-box__info {
  font-family: 'Prompt', sans-serif;
  color: #666;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
}

.portfolio-box__extras {
  margin-top: auto;
}

.portfolio-box__links {
  display: flex;
}

.portfolio-box__link {
  color: #ed4563;
  font-weight: 900;
  margin: 0;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

/* .portfolio-box__link:before {
  border-top: 5px solid #a8cdda;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: 6px; left: 0; right: 0; bottom: 0;
  width: 95%;
  z-index: -1;
} */

.portfolio-box__link:hover {
  color: #404b69;
}

.portfolio-box__tools {
  display: flex;
}

.portfolio-box__tool {
  color: #666;
  font-weight: 200;
  padding-right: 10px;
  margin: 5px 0;
}

.portfolio-box__bottom-border {
  background-color: #4aaaa5;
  height: 10px;
  width: 100%;
  -webkit-clip-path: polygon(5% 0, 100% 0%, 96% 100%, 0% 100%);
  clip-path: polygon(5% 0, 100% 0%, 96% 100%, 0% 100%);
}


/*=====================*/
/* ===== CONTACT ===== */
/*=====================*/

.contact {
  background-color: #020c42;
  height: 150px;
  padding: 75px 0;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}

/* .contact-title {
  margin-top: 20px;
} */

.contact-info {
  padding-top: 20px;
}

.contact-desc {
  color: white;
  text-align: center;
}

.contact-emph {
  color: #f73859;
  text-decoration: none;
}

  /*===========================*/
  /* ===== MEDIA QUERIES ===== */
  /*===========================*/

@media (min-width: 768px) {
  /*=======================*/
  /* ===== UNIVERSAL ===== */
  /*=======================*/
  .container {
    max-width: 1100px;
  }

  /*====================*/
  /* ===== NAVBAR ===== */
  /*====================*/
  .navbar {
    height: 75px;
    padding-bottom: 0;
  }

  .twitter-svg:hover,
  .github-svg:hover,
  .instagram-svg:hover,
  .linkedin-svg:hover {
    opacity: .6;
  }

  .navbar-content {
    flex-direction: row;
    justify-content: space-between;
    min-width: 760px;
  }

  /*===================*/
  /* ===== ABOUT ===== */
  /*===================*/
  .about-me__img {
    display: inline-block;
    width: 265px;
  }

  .about-me__info {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 800px;
  }

  .about-me__text {
    color: #666;
    font-size: 1.1rem;
    text-align: left;
    /* margin-right: 200px; */
    width: 100%;
  }

  /*====================*/
  /* ===== SKILLS ===== */
  /*====================*/

  .skill-lists {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0 auto;
    width: 500px;
  }
  
  .skill-list {
    margin: 0 30px;
  }
  
  .skill-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skill-list__item {
    color: #404b69;
    font-size: 24px;
    font-weight: 900;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;   
  }
  
  .skill-list__item:before {
    border-top: 7px solid #f73859;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 10px; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }
  
  .list-item-short:before {
    width: 70%;
  }
  
  .list-item-long:before {
    top: 10px; left: -5px; right: 0; bottom: 0;
    width: 110%;
  }

  /*=======================*/
  /* ===== PORTFOLIO ===== */
  /*=======================*/
  .portfolio-boxes {
    margin: 0 auto;
    max-width: 800px;
  }

  .portfolio-box__row {
    flex-direction: row;
    justify-content: space-between;
  }

 